<div class="row">
    <div class="col-xs-12">
        <div class="col-4">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Student Id</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Option</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ student.studentId }}</td>
                        <td>{{ student.studentName }}</td>
                        <td><button class="btn btn-danger">Delete</button></td>
                      </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>